generatedStrs/
result/
log/
target/
.project
.settings
.classpath
.idea/
.pydevproject
__pycache__/
.RData
.Rhistory
string_contains_matches/
string_contains_nonmatches/
stringcontains_process_1/
stringcontains_results_lab/
stringcontains_results_lab_nogc/
stringcontains_results_vm_gc/
.ipynb_checkpoints/
